/* Page Settings */
*{
  margin: 0;
  padding: 0;
  background-color: #f3fcf0;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

@font-face {
  font-family: 'ailerons-typeface';
  src: url(ailerons-typeface.otf);
}

.navbar1{
  font-family: 'Montserrat', sans-serif;
  width: 65%;
  margin: auto;
  list-style: none;
  text-decoration: none;
}

ul{
  list-style-type: none;
}


li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ee4266;
  font-weight: 600;
  background-color: inherit;
}

li a:hover {
  color: #ffd23f;
}

.div1{
  margin: 10px;
  padding: 10px;
  float: left;
  align-items: left;
  justify-content: left;
  width: fit-content;
}

.div2, .div5{
  display: block;
  margin: 10px;
  padding: 10px;
  float: right;
  align-items: right;
  justify-content: right;
  width: fit-content;
}

.div3 {
  position: relative;
  margin: 10px;
  padding: 10px;
  float: right;
  align-items: right;
  justify-content: right;
  width: fit-content;
}

.div4 {
  display: none;
  position: absolute;
  min-width:max-content;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.div4 a {
  color: #ee4266;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.div3:hover .div4 {
  display: block;
}

.div4 a:hover {
  color: #FFBE0B;
}

.footer{
  display: block;
  width: 65%;
  margin: auto;
  text-align: center;
}

.icons{
  padding: 10px;
  align-self: center;
}

.container1{
  display: block;
  width: 65%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text1{
  display: inline-block;
  width: 40%;
  text-align: center;
  vertical-align: middle;
  font-family: 'Montserrat',sans-serif;
  padding-left: 40px;
}

p{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #3a3a3a;
}

h2{
  font-family: 'ailerons-typeface';
  font-size: 50px;
  color: #595959;
  letter-spacing: 10px;
}

h3{
  font-size: 14px;
  font-weight: 600;
  margin-right: 12px;
  line-height: 20px;
  color: #595959;
}

.cover-image{
  display: inline-block;
  vertical-align: middle;
  padding-left: 113px;
}

.container-2{
  display: block;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row{
  display: block;
  width: 65%;
  margin: auto;
  text-align: center;
}

.column {
  display: inline-block;
  margin: auto;
}

.hover-shadow{
  display: inline-block;
  border: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  margin: 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: inherit;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 100%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  background-color: inherit;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  background-color: inherit;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(223, 223, 223, 0.8);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}