/* Page Settings */
*{
  margin: 0;
  padding: 0;
  background-color: #f3fcf0;
}

@font-face {
  font-family: 'ailerons-typeface';
  src: url(ailerons-typeface.otf);
}

.navbar1{
  font-family: 'Montserrat', sans-serif;
  width: 65%;
  margin: auto;
  list-style: none;
  text-decoration: none;
}

ul{
  list-style-type: none;
}


li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ee4266;
  font-weight: 600;
  background-color: inherit;
}

li a:hover {
  color: #ffd23f;
}

.div1{
  margin: 10px;
  padding: 10px;
  float: left;
  align-items: left;
  justify-content: left;
  width: fit-content;
}

.div2, .div5{
  display: block;
  margin: 10px;
  padding: 10px;
  float: right;
  align-items: right;
  justify-content: right;
  width: fit-content;
}

.div3 {
  position: relative;
  margin: 10px;
  padding: 10px;
  float: right;
  align-items: right;
  justify-content: right;
  width: fit-content;
}

.div4 {
  display: none;
  position: absolute;
  min-width:max-content;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.div4 a {
  color: #ee4266;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.div3:hover .div4 {
  display: block;
}

.div4 a:hover {
  color: #FFBE0B;
}

.title{
  display:block;
  text-align: center;
  padding-top:80px;
  color: black;
  font-family: 'ailerons-typeface';
}

h1{
  font-size: 60px;
  padding-top: 10px;
}

h3{
  font-size: 30px;
  letter-spacing: 0.7px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.info{
  margin: auto;
  display:block;
  width: 60%;
  justify-content: center;
  text-align: center;
}

p{
  color: black;
  font-family: 'Montserrat', sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

span{
  font-size: 12px;
}

button{
  width: 150px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: solid;
  border-color: #ee4266;
  border-width: 1.5px;
  background-color: #f3fcf0;
  color: #ee4266;
  cursor:pointer;
  height: 40px;
  border-radius: 20px;
  transition: 350ms;
}

a{
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

button:hover{
  border-color: #ee4266;
  border-width: 1.5px;
  background-color: #ee4266;
  color: #f3fcf0;
}

button:active{
  opacity: 60%;
}

.footer{
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons{
  padding: 10px;
}

.buttons{
  padding-top: 50px;
  padding-bottom: 50px;
}
