.container{
  height: 100%;
  width: 100%;
  text-align: left;
}

.lottie-bg{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

section{
  z-index: 9;
  margin-top: 500px;
}